<nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
  <div class="container">
    <a [routerLink]="['/']" class="navbar-brand">Knowledge Center</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a [routerLink]="['/']" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
          <a [routerLink]="['/questions/create']" class="nav-link">Create Question</a>
        </li>
      <li class="nav-item">
        <a [routerLink]="['/categories']" class="nav-link">Categories</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Dropdown</a>
        <div class="dropdown-menu">
          <a class="dropdown-item">Link 1</a>
          <a class="dropdown-item">Link 2</a>
          <a class="dropdown-item">Link 3</a>
        </div>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Services</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Contact</a>
      </li> -->
    </ul>
  </div>
</nav>
